@model SportDash.ViewModels.DataViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<section class="bg-white">

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center text-center mb-4">
                <div class="col-md-6" data-aos="fade">
                    <h1>Reservations</h1>
                </div>
            </div>

            <ul class="nav nav-tabs" role="tablist">

                <li class="nav-item">
                    <a class="nav-link active bg-Geyser text-elephant" onclick="loadReservations()" data-toggle="tab" href="#todayReservations">Today's Reservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-Geyser text-elephant" data-toggle="tab" href="#search">Search</a>
                </li>
                @if (User.IsInRole("Playground") && Model.IsAdmin)
                {
                    <li class="nav-item">
                        <a class="nav-link bg-Geyser text-elephant" data-toggle="tab" href="#requests">Requests</a>
                    </li>
                }
                @if ((User.IsInRole("Playground") && Model.IsAdmin) || User.IsInRole("User"))
                {
                    <li class="nav-item text-elephant">
                        <a class="nav-link bg-Geyser text-elephant" data-toggle="tab" href="#add">Add</a>
                    </li>
                }
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="todayReservations" class="container tab-pane active">
                    <partial name="_Reservation" />
                </div>

                <div id="search" class="container tab-pane">
                    <br>
                    <div class="row hosting justify-content-center my-4">
                        <div class="form-inline justify-content-center col-10">
                            <label class="form-label text-gray-700 mr-3"><b>Date</b></label>
                            <input type="date" id="search-date" name="bday" class="form-control col-6 mx-2">
                            <a class="btn btn-success text-light py-2 px-4 rounded-0" id="show-reservation">Show</a>
                        </div>
                    </div>
                    <div class="row hosting mt-5" id="returned-data">

                    </div>
                </div>
                <div id="requests" class="container tab-pane fade">
                    <partial name="_Request" />
                </div>

                <div id="add" class="container tab-pane fade">
                    <br>
                    <div class="row hosting justify-content-center my-4">

                        <div class="custom-shadow bg-white col-lg-5 col-md-8 p-4 rounded">
                            @if (User.IsInRole("Playground") && Model.IsAdmin)
                            {
                                <label class="text-gray-700">Username</label>
                                <input type="text" id="reservation-user" name="EventUsername" class="form-control mb-2" />
                            }
                            <label class="text-gray-700">Date</label>
                            <input type="date" id="reservation-date" name="EventDate" class="form-control mb-2" />
                            <label class="text-gray-700">Start Time</label>
                            <input type="time" id="start-at" name="EventFrom" class="form-control mb-2" />
                            <label class="text-gray-700">End Time</label>
                            <input type="time" id="end-at" name="EventTo" class="form-control mb-2" />
                            <a class="btn btn-primary mt-3 text-light py-2 col-12 rounded" id="new-reservation">Add</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal" tabindex="-1" role="dialog" data-target="#myModal" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Error Reservation Time</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>There is another reservation at the same time, Please choose another time.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>


<!-- Delete reservation Modal -->
<div class="modal fade" id="delete-res-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Reservation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to delete this reservation!?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="delete-res-btn">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Delete requests Modal -->
<div class="modal fade" id="delete-req-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cancel Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to cancel this request!?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="delete-req-btn">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" on-content-loaded="true">
    function loadReservations() {
        $.ajax({
            url: '/@Model.ControllerName/LoadReservations?id=@Model.Entity.Id',
            type: 'GET',
            success: function (result) {
                document.getElementById('todayReservations').innerHTML = result;
            }
        })
    }

    function deleteReservation(ReservationId) {
        var deleteBtn = document.getElementById('delete-res-btn');
        deleteBtn.onclick = function remove() {
            $.ajax({
                url: '/@Model.ControllerName/DeleteReservation?id=' + ReservationId,
                type: 'POST',
                datatype: 'text',
                success: function (result) {
                    document.getElementById('todayReservations').innerHTML = result;
                }
            });
        }
    }

    function deleteRequest(RequestId) {
        var deleteBtn = document.getElementById('delete-req-btn');
        deleteBtn.onclick = function remove() {
            $.ajax({
                url: '/@Model.ControllerName/DeleteReservation?id=' + RequestId,
                type: 'POST',
                datatype: 'text',
                success: function (result) {
                    document.getElementById('requests').innerHTML = result;
                }
            });
        }
    }

    function acceptReservation(ReservationId) {
        $.ajax({
            url: '/@Model.ControllerName/AcceptReservation?id=' + ReservationId,
            type: 'POST',
            dataType: 'text',
            success: function (result) {
                document.getElementById('requests').innerHTML = result;
            }
        });
    }

    let newReservation = document.getElementById('new-reservation');
    newReservation.onclick = function add() {
        let newobj = {
            Name: document.getElementById('reservation-user')?.value,
            Date: document.getElementById('reservation-date').value,
            StartTime: document.getElementById('start-at').value,
            EndTime: document.getElementById('end-at').value,
            PlaygroundId: "@Model.Entity.Id"
        };
        $.ajax({
            url: '/@Model.ControllerName/AddReservation',
            type: 'POST',
            datatype: 'text',
            data: { reservation: newobj },
            success: function (result) {
                $('#todayReservations').html(result);
                if (newobj.Name != null)
                    document.getElementById('reservation-user').value = "";
                document.getElementById('reservation-date').value = "";
                document.getElementById('start-at').value = "";
                document.getElementById('end-at').value = "";
                $('.nav-tabs a[href="#todayReservations"]').tab('show');                
            },
            error: function (e) {
                $("#myModal").modal("show");
            }
        });
    }

    $('#show-reservation').click(function () {
        var date = $('#search-date').val();
        $.ajax({
            url: '/@Model.ControllerName/SearchByDate',
            type: 'POST',
            dataType: 'json',
            data: {
                date: date,
                PlaygroundId: "@Model.Entity.Id"
            },
            success: function (res) {
                var target = $('#returned-data');
                target.empty();
                if (res.value.length == 0) {
                    target.append('<div class="container"><h5 style="color: #4d4d4d;">There are no reservations at the moment...</h5></div>');
                }
                else {
                    for (var i = 0; i < res.value.length; i++) {
                        var reserve = res.value[i];
                        var newdate = reserve.date.substring(0, 10);
                        target.append(`
                    <div class="col-md-4 col-lg-3 col-sm-6 mb-4 mt-1" data-aos="fade" data-aos-delay="100">
                        <div class="unit-2 text-center border pt-4 pb-3 h-100 bg-white">
                            <h3 class="h4 mb-3 pt-2 text-gray-700">${reserve.name}</h3>
                            <h5 class="h6 mb-3 text-gray-700">${newdate}</h5>
                            <p class="mb-2 text-gray-600">From: ${reserve.startTime}</p>
                            <p class="mb-4 text-gray-600">To: ${ reserve.endTime }</p>
                        </div>
                    </div>`);
                    }
                }
            },
        })
    });
</script>

