/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;    
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/*--------------------------------------------------------------------------*/
/*source Custom Styles*/
.prices {
  background-color: rgb(16, 43, 62);
  color: white;
}

.separator {
    margin-bottom:15px
}

.lightSection {
  padding-top: 2%;
  /* background-color: rgb(16, 43, 62); */
  background-color: rgb(206, 216, 225);
  /* background-color: rgb(28, 200, 160); */
}

.Time {
  background-color: rgb(28, 200, 160);
  color: rgb(16, 43, 62);
}

.op_button {
  border-color: rgb(16, 43, 62);
  margin: 2%;
}

/* background-color: rgb(16, 43, 62);//Dark Blue
background-color: rgb(206, 216, 225);//Light
background-color: rgb(28, 200, 160);//green degree */
.greenColor {
    color: rgb(28, 200, 160);
}

.bold {
    font-weight: bold;
}

.price-size {
    width: 3.1em;
}

.medium-size {
    font-size: medium;
}

.large-size-1 {
    font-size: large;
}

.large-size-2 {
    font-size: x-large;
}

.large-size-3 {
    font-size: xx-large;
}

/* Review Stars 
-------------------------------------------------- */
.rating {
    float: left;
}

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
      follow these rules. Every browser that supports :checked also supports :not(), so
      it doesn’t make the test unnecessarily selective */
    .rating:not(:checked) > input {
        position: absolute;
        top: -9999px;
        clip: rect(0,0,0,0);
    }

    .rating:not(:checked) > label {
        float: right;
        width: 1em;
        /* padding:0 .1em; */
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 300%;
        /* line-height:1.2; */
        color: #ddd;
    }

        .rating:not(:checked) > label:before {
            content: '★ ';
        }

    .rating > input:checked ~ label {
        color: dodgerblue;
    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: dodgerblue;
    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: dodgerblue;
    }

    .rating > label:active {
        position: relative;
        top: 2px;
        left: 2px;
    }

/* Available Sports Styling */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.popup {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    height: 100px;
    background: #fff;
    color: #102b3e;
    display: none;
    padding: 20px;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: 2px 1px #ddd;
}

.chat {    
    border: solid 1px #EEE !important;
    display: flex !important;
    flex-direction: column !important;
    padding: 10px;
    height: 350px;
    overflow-y: auto;
    background: lightblue;    
    margin-top: 10px;
    border-radius: 40px !important;
}

.messages {
    margin-top: 30px !important;
    display: flex !important;
    flex-direction: column !important;
}

.message {
    border-radius: 20px !important;
    padding: 8px 15px !important;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
    display: inline-block !important;
    font-size: 23px !important;
    cursor: pointer;
}

.yours {
    align-items: flex-start !important;
}

.yours .message {
    margin-right: 25% !important;
    background-color: #eee !important;
    position: relative !important;     
    font-size: 23px !important;
}

.yours .message.last:before {
    content: "" !important;
    position: absolute !important;
    z-index: 0 !important;
    bottom: 0 !important;
    left: -7px !important;
    height: 10px !important;
    width: 20px !important;
    background: #eee !important;
    border-bottom-right-radius: 15px !important;
}

.yours .message.last:after {
    content: "" !important;
    position: absolute !important;
    z-index: 1 !important;
    bottom: 0 !important;
    left: -10px !important;
    width: 10px !important;
    height: 10px !important;
    background: lightblue !important;
    border-bottom-right-radius: 10px !important;
}

.mine {
    align-items: flex-end !important;
}

.mine .message {
    color: white !important;
    margin-left: 25% !important;
    background: linear-gradient(to bottom, #fff 0%, #102b3e 100%) !important;    
    background-attachment: fixed !important;
    position: relative !important;
}

.mine .message.last:before {
    content: "" !important;
    position: absolute !important;
    z-index: 0 !important;
    bottom: 0 !important;
    right: -8px !important;
    height: 20px !important;
    width: 20px !important;
    background: linear-gradient(to bottom, #fff 0%, #102b3e 100%) !important;    
    background-attachment: fixed !important;
    border-bottom-left-radius: 15px !important;
}

.mine .message.last:after {
    content: "" !important;
    position: absolute !important;
    z-index: 1 !important;
    bottom: 0 !important;
    right: -10px !important;
    width: 10px !important;
    height: 20px !important;
    background: lightblue !important;
    border-bottom-left-radius: 10px !important;
}

/* css framework*/

.round-borders{
    border-radius: 20px;
}
.btn-elephant {
    padding: 12px;
    border: none;
    color: #fff;
    background: #102b3e;
}
.form-container{
    display: flex;        
}

.sm-msg{
    color: #000;
    font-size: 12px;
    display: none;
}
#new-msg{
    display: inline;
}

@media only screen and (max-width: 600px) {
    .chat *{
        font-size: 14px !important;
    }
    .chat .message {
        font-size: 14px !important;
    }    
    .form-container{
        justify-content: space-between;
    }
    .form-container textarea{
        width: 50% !important;
    }
    .sm-msg{
        font-size: 10px !important;
    }
    .form-container .btn-elephant{
        width: 20% !important;
    }
}

