@model SportDash.ViewModels.ClubViewModel

<div class="d-flex align-items-center bg-dark py-5">
    <h3 class="text-white ml-5" id="entity-Name">@Model.EntityName</h3>
    <button type="button" class="btn btn-success ml-4"data-toggle="modal" data-target="#editModal">Edit</button>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="new-value" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success text-white" data-dismiss="modal" id="edit-btn">Confirm</button>
                <button type="button" class="btn btn-secondary" id="edit-name-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" on-content-loaded="true">
    $('#edit-btn').click(function (e) {
        e.preventDefault();
        var newValue = document.getElementById('new-value').value;

        $.ajax({
            url: '/@Model.ControllerName/EditEntityName',
            type: 'GET',
            datatype: 'text',
            data: { newName: newValue },
            success: function () {
                document.getElementById('entity-Name').innerHTML = newValue;
            }
        });
    });
</script>