@model SportDash.ViewModels.DataViewModel
@using SportDash.ViewModels;
@using SportDash.Models;


<div class="row separator lightSection">
    <div class="col-12 mx-0">
        <div class="col-12 col-md-6 mx-0 col-lg-3 py-3 pl-0">
            <div class="row">
                <div class="col-2">
                </div>

                <div>
                    <h3>Prices</h3>
                </div>
            </div>
        </div>
    </div>
    @{
        async void RenderGymPriceComponent(Subscribtion_type TargetedSubscribtionType)
        {

            bool Rendered = false;
         
            foreach (GymPrices gymPrice in Model.GymPricesList)
            {
                if (gymPrice.Subscribtion_Type == TargetedSubscribtionType)
                {
                    Model.GymPrice = gymPrice;
                    @await Component.InvokeAsync("GymPrice", Model);
                    Rendered = true;
                    break;
                }
            }
            
            if (!Rendered)
            {
                GymPrices gymPrice = new GymPrices()
                {
                    Subscribtion_Type = TargetedSubscribtionType,
                    GymId = Model.Entity.Id
                };
                Model.GymPrice = gymPrice;
                @await Component.InvokeAsync("GymPrice", Model);
            }
        }
        
        RenderGymPriceComponent(Subscribtion_type.Day);
        RenderGymPriceComponent(Subscribtion_type.Week);
        RenderGymPriceComponent(Subscribtion_type.Month);
        RenderGymPriceComponent(Subscribtion_type.Year);
    }
</div>