@model SportDash.ViewModels.DataViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<section id="entity-info">
    <partial name="_InfoBar" />
</section>


<!-- Modal -->
<div class="modal fade" id="editInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-elephant" id="exampleModalLabel">Edit Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row mb-2">
                    <div class="col">
                        <textarea class="form-control" rows="2" placeholder="Biography" id="info-bio">@Model.Entity.biography</textarea>
                    </div>
                </div>
                <div class="form-row mb-2">
                    <div class="col">
                        <select class="custom-select my-1 mr-sm-2" asp-items="Model.locations" id="info-location">
                            <option value="">Select your location ...</option>
                        </select>
                    </div>
                    @if (User.IsInRole("Playground"))
                    {
                        <div class="col" id="ball-renting">
                            <select class="custom-select my-1 mr-sm-2" asp-items="Model.BallRentingOptions" id="info-ball">
                                <option value="">Ball Renting ...</option>
                            </select>
                        </div>
                    }
                </div>
                @if (User.IsInRole("Playground") || User.IsInRole("Gym"))
                {
                    <div class="form-row mb-2" id="common1">
                        <div class="col">
                            <select class="custom-select my-1 mr-sm-2" asp-items="Model.LockerRoomOptions" id="info-locker">
                                <option value="">Locker Room ...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row mb-2" id="common2">
                        <div class="col">
                            <select class="custom-select my-1 mr-sm-2" asp-items="Model.ToiletOptions" id="info-toilet">
                                <option value="">Toilet ...</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="custom-select my-1 mr-sm-2" asp-items="Model.ForLadiesOptions" id="info-for-ladies">
                                <option value="">For Ladies ...</option>
                            </select>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="edit-info-btn">Confirm</button>
                <button type="button" class="btn btn-secondary" id="edit-name-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" on-content-loaded="true">
    $('#edit-info-btn').click(function (e) {
        e.preventDefault();
        const info = {};
        const location = $("#info-location :selected").text()

        info.biography = $("#info-bio").val();
        if (!(location.includes("Select"))) {
            info.location = location;
        }
        info.ballRenting = $("#info-ball :selected").val();
        info.lockerRoom = $("#info-locker :selected").val();
        info.toilet = $("#info-toilet :selected").val();
        info.forLadies = $("#info-for-ladies :selected").val();

        $.ajax({
            url: '/@Model.ControllerName/EditInfoData',
            type: 'POST',
            data: info,
            success: function (result) {
                document.getElementById('entity-info').innerHTML = result;
            }
        });
    });
</script>