@model SportDash.ViewModels.DataViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<section id="entity-info">
    <div class="site-section bg-white">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-6" data-aos="fade">
                    <h1>About Us</h1>
                    @if (Model.Entity.biography == null)
                    {
                        <p>This page has no biography yet, to acquire more information about this page, send a message to the page admin.</p>
                    }
                    else
                    {
                        <p>@Model.Entity.biography</p>
                    }

                    @if (User.IsInRole("Playground") || User.IsInRole("Gym") || User.IsInRole("Coach"))
                    {
                        <a class="btn btn-primary py-3 px-5 rounded-0 text-light"><b>Location: Alexandria, @Model.Entity.Location</b></a>
                    }
                </div>
            </div>
            @if (User.IsInRole("Playground") || User.IsInRole("Gym") || User.IsInRole("Coach"))
            {
                <div class="row justify-content-center text-center mt-4 mb-5">
                    <div class="col-md-6" data-aos="fade">
                        <h3>Available Services</h3>
                    </div>
                </div>
            }
            <div class="row justify-content-center">
                <div class="row hosting col-lg-10 d-flex justify-content-center">
                    @if (Model.Entity.BallRenting == true)
                    {
                        <div class="col-md-3 col-sm-6 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="100">
                            <div class="unit-3 h-100 bg-white">
                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <div class="mb-4">
                                            <img src="~/images/site/icon-ball.png" class="col-12 green-color-filter handmade-icon" />
                                        </div>
                                        <div class="unit-3-body">
                                            <h2 class="h5 text-center">Ball Renting</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.Entity.LockerRoom == true)
                    {
                        <div class="col-md-3 col-sm-6 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="200">
                            <div class="unit-3 h-100 bg-white">
                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <div class="mb-4">
                                            <img src="~/images/site/icon-locker.png" class="col-12 green-color-filter handmade-icon" />
                                        </div>
                                        <div class="unit-3-body">
                                            <h2 class="h5 text-center">Locker Room</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.Entity.Toilet == true)
                    {
                        <div class="col-md-3 col-sm-6 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="300">
                            <div class="unit-3 h-100 bg-white">
                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <div class="mb-4">
                                            <img src="~/images/site/icon-toilet.png" class="col-12 green-color-filter handmade-icon" />
                                        </div>
                                        <div class="unit-3-body">
                                            <h2 class="h5 text-center">Toilet</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.Entity.ForLadies == true)
                    {
                        <div class="col-md-3 col-sm-6 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="400">
                            <div class="unit-3 h-100 bg-white">
                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <div class="mb-4">
                                            <img src="~/images/site/icon-lady.png" class="col-12 green-color-filter handmade-icon" />
                                        </div>
                                        <div class="unit-3-body">
                                            <h2 class="h5 text-center">For Ladies</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @if (Model.IsAdmin)
            {
                <div class="row justify-content-center text-center mt-5">
                    <a class="btn btn-primary rounded-pill text-white py-3 px-5" data-toggle="modal" data-target="#editInfoModal">Edit Information</a>
                </div>
            }
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="editInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-elephant" id="exampleModalLabel">Edit Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row mb-2">
                    <div class="col">
                        <textarea class="form-control" rows="2" placeholder="Biography" id="info-bio">@Model.Entity.biography</textarea>
                    </div>
                </div>
                <div class="form-row mb-2">
                    <div class="col">
                        <select class="custom-select my-1 mr-sm-2" asp-items="Model.locations" id="info-location">
                            <option value="">Select your location ...</option>
                        </select>
                    </div>
                    @if (User.IsInRole("Playground"))
                    {
                        <div class="col" id="ball-renting">
                            <select class="custom-select my-1 mr-sm-2" asp-items="Model.BallRentingOptions" id="info-ball">
                                <option value="">Ball Renting ...</option>
                            </select>
                        </div>
                    }
                </div>
                @if (User.IsInRole("Playground") || User.IsInRole("Gym"))
                {
                    <div class="form-row mb-2" id="common1">
                        <div class="col">
                            <select class="custom-select my-1 mr-sm-2" asp-items="Model.LockerRoomOptions" id="info-locker">
                                <option value="">Locker Room ...</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row mb-2" id="common2">
                        <div class="col">
                            <select class="custom-select my-1 mr-sm-2" asp-items="Model.ToiletOptions" id="info-toilet">
                                <option value="">Toilet ...</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="custom-select my-1 mr-sm-2" asp-items="Model.ForLadiesOptions" id="info-for-ladies">
                                <option value="">For Ladies ...</option>
                            </select>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="edit-info-btn">Confirm</button>
                <button type="button" class="btn btn-secondary" id="edit-name-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" on-content-loaded="true">
    $('#edit-info-btn').click(function (e) {
        e.preventDefault();
        const info = {};
        const location = $("#info-location :selected").text()

        info.biography = $("#info-bio").val();
        if (!(location.includes("Select"))) {
            info.location = location;
        }
        info.ballRenting = $("#info-ball :selected").val();
        info.lockerRoom = $("#info-locker :selected").val();
        info.toilet = $("#info-toilet :selected").val();
        info.forLadies = $("#info-for-ladies :selected").val();

        $.ajax({
            url: '/@Model.ControllerName/EditInfoData',
            type: 'POST',
            data: info,
            success: function (result) {
                document.getElementById('entity-info').innerHTML = result;
            }
        });
    });
</script>