@{
    ViewData["Title"] = "Error";
}

<div class="container text-center">
    <img src="~/images/site/balls.png" style="height: 300px;"/>
    <h1 class="text-danger">404</h1>
    <h2 class="text-danger">Page Not Found</h2>
</div>