@model SportDash.ViewModels.DataViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div data-aos="fade">
    <div class="d-flex flex-wrap mt-3">
        @foreach (var item in Model.Images)
        {
            <div class="col-lg-3 col-md-4 mt-1" style="padding:1px !important">
                <img class="gallery-image" src="@("/images/" + item.Title)" asp-append-version="true" id="@("/images/" + item.Title)" onclick="displayImage(this.id)">
                @if (Model.IsAdmin == true)
                {
                    <button type="button" class="btn btn-danger mt-1 btn-full-width" data-toggle="modal" data-target="#delete-img-Modal" onclick="deleteImage(@item.Id)">Delete</button>
                }
            </div>
        }
    </div>
    @if (Model.IsAdmin == true)
    {
        <div class="row justify-content-center text-center mt-5">
            <a class="btn btn-primary rounded-pill text-white py-3 px-5" data-toggle="modal" data-target="#add-image-modal">Add Image</a>
        </div>
    }
</div>