@model SportDash.ViewModels.DataViewModel

<div class="site-section bg-white">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-6" data-aos="fade">
                <h1>About Us</h1>
                @if (Model.Entity.biography == null)
                {
                    <p>This page has no biography yet, to acquire more information about this page, send a message to the page admin.</p>
                }
                else
                {
                    <p>@Model.Entity.biography</p>
                }
                <a class="btn btn-primary py-3 px-5 rounded-0 text-light"><b>Location: Alexandria, @Model.Entity.Location</b></a>
            </div>
        </div>
        <div class="row justify-content-center text-center mt-4 mb-5">
            <div class="col-md-6" data-aos="fade">
                <h3>Avalible Services</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="row hosting col-lg-10 d-flex justify-content-center">
                @if (Model.Entity.BallRenting == true)
                {
                    <div class="col-md-3 col-sm-6 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="100">
                        <div class="unit-3 h-100 bg-white">
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <div class="mb-4">
                                        <img src="~/images/site/icon-ball.png" class="col-12 green-color-filter handmade-icon" />
                                    </div>
                                    <div class="unit-3-body">
                                        <h2 class="h5 text-center">Ball Renting</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.Entity.LockerRoom == true)
                {
                    <div class="col-md-3 col-sm-6 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="200">
                        <div class="unit-3 h-100 bg-white">
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <div class="mb-4">
                                        <img src="~/images/site/icon-locker.png" class="col-12 green-color-filter handmade-icon" />
                                    </div>
                                    <div class="unit-3-body">
                                        <h2 class="h5 text-center">Locker Room</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.Entity.Toilet == true)
                {
                    <div class="col-md-3 col-sm-6 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="300">
                        <div class="unit-3 h-100 bg-white">
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <div class="mb-4">
                                        <img src="~/images/site/icon-toilet.png" class="col-12 green-color-filter handmade-icon" />
                                    </div>
                                    <div class="unit-3-body">
                                        <h2 class="h5 text-center">Toilet</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.Entity.ForLadies == true)
                {
                    <div class="col-md-3 col-sm-6 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="400">
                        <div class="unit-3 h-100 bg-white">
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <div class="mb-4">
                                        <img src="~/images/site/icon-lady.png" class="col-12 green-color-filter handmade-icon" />
                                    </div>
                                    <div class="unit-3-body">
                                        <h2 class="h5 text-center">For Ladies</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @if (Model.IsAdmin)
        {
            <div class="row justify-content-center text-center mt-5" data-aos="fade" data-aos-delay="100">
                <a class="btn btn-primary rounded-pill text-white py-3 px-5" data-toggle="modal" data-target="#editInfoModal">Edit Information</a>
            </div>
        }
    </div>
</div>