@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportDash</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-Geyser border-bottom">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SportDash</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a id="newMsg" class="nav-link text-dark" asp-controller="Search" asp-action="Index">Search</a>
                        </li>
                        @if (User.IsInRole("Playground"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Playground" asp-action="Index" asp-route-id="">Profile</a>
                            </li>
                        }
                        @if (User.IsInRole("Gym"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Gym" asp-action="Index" asp-route-id="">Profile</a>
                            </li>
                        }
                        @if (User.IsInRole("Coach"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Coach" asp-action="Index" asp-route-id="">Profile</a>
                            </li>
                        }
                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="Index" asp-route-id="">Profile</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a id="newMsg" class="nav-link text-dark" asp-area="" asp-controller="Messages" asp-action="Index">
                                    Messages
                                    @if ((await UserManager.GetUserAsync(User)).HasNewMsgs)
                                    {
                                        <span class="badge badge-danger" style="display: inline" id="new-msg">New</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-danger" style="display: none" id="new-msg">New</span>
                                    }
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-elephant py-3">
        <div class="container d-flex justify-content-center">
            &copy; 2020 - SportDash - All Rights Reserved
        </div>
    </footer>

    <div class="popup" style="width: 300px;"></div>
    <audio id="sound" src="~/sounds/noti.mp3" style="display: none;"></audio>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        let id = setInterval(() => {
            if (connection.connectionState == 0) {
                connection.start();
            }
        }, 3000);
        const newMsg = document.querySelector("#newMsg");
        connection.on("recMsg", function (res) {
            if (!location.pathname.includes("Message")) {                
                document.querySelector("#new-msg").style.display = "inline";
                const sound = document.querySelector("#sound");
                sound.play();
            }
            else {
                $.ajax({
                    url: '/Messages/ChangeMsgStatus',
                    method: 'GET',
                    success: function () {
                        document.querySelector("#new-msg").style.display = "none";
                    }
                })
            }
        });        
    </script>
</body>
</html>
