@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container mt-3 m-auto w-100 text-center">
    <img style="width: 250px;height: 250px;" src="~/images/site/error.png" />
    <h1 class="text-danger">Error</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
</div>